.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;

  max-width: 500px; /* controla largura */
}
.card {
  background: #1c1f26;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.values {
  align-items: center;
}
.card:hover {
  transform: translateY(-3px);
}

/* TÍTULO */
.card-header {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card h4 {
  font-size: 30px;
  color: #f4f6fa;
  margin-bottom: 10px;
}
.icon {
  font-size: 36px;
}

/* VALOR PRINCIPAL */
.card h2 {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

/* UNIDADE (kg, %) */
.card h2 span {
  font-size: 16px;
  color: #9ca3af;
}

/* VARIAÇÃO */
.card p {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 500;
}

/* ========================= */
/* 📱 RESPONSIVO  */
/* ========================= */

@media (max-width: 600px) {
  .card {
    align-items: center;
  }
  .card-header {
    justify-content: space-evenly;
    gap: 15px;
  }
  .values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .card h4 {
    font-size: 24px;
    max-width: 100%;
  }
  .card h2 {
    text-align: center;
  }
}
