.header {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}
/* ESQUERDA */
.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* MENU CENTRAL REAL */
.header-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style: none;
  gap: 20px;
}
